## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/weather_py_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Merauke,ID,-8.4667,140.3333,80.85,84,34,12.24,light rain
1,1,Muscat,OM,23.6139,58.5922,91.42,66,100,3.11,overcast clouds
2,2,Dalvik,IS,65.9702,-18.5286,46.33,93,84,2.55,broken clouds
3,3,Hilo,US,19.7297,-155.0900,82.13,77,40,0.00,scattered clouds
4,4,Hajipur,IN,25.6833,85.2167,84.18,94,75,3.44,mist

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input('What is the minimum temperature you would like for your vacation?'))

max_temp = float(input('What is the maximum temperature you would like for your vacation?'))

What is the minimum temperature you would like for your vacation?65
What is the maximum temperature you would like for your vacation?85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

pref_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                 (city_data_df['Max Temp'] >= min_temp)]
pref_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Merauke,ID,-8.4667,140.3333,80.85,84,34,12.24,light rain
3,3,Hilo,US,19.7297,-155.0900,82.13,77,40,0.00,scattered clouds
4,4,Hajipur,IN,25.6833,85.2167,84.18,94,75,3.44,mist
5,5,Atuona,PF,-9.8000,-139.0333,76.71,69,3,11.16,clear sky
10,10,Rikitea,PF,-23.1203,-134.9692,68.50,86,100,17.60,moderate rain
...,...,...,...,...,...,...,...,...,...,...
684,684,Oranjestad,AW,12.5240,-70.0270,80.55,83,20,23.02,few clouds
685,685,Soyo,AO,-6.1349,12.3689,71.98,90,45,6.08,scattered clouds
686,686,Nouadhibou,MR,20.9310,-17.0347,67.98,83,0,18.41,clear sky
689,689,Bombay,IN,19.0144,72.8479,76.98,100,100,4.61,light rain
690,690,Matara,LK,5.9485,80.5353,84.85,71,15,16.71,light rain

In [5]:
# 4a. Determine if there are any empty rows.

pref_cities_df.count()

Unnamed: 0             359
City                   359
Country                357
Lat                    359
Lng                    359
Max Temp               359
Humidity               359
Cloudiness             359
Wind Speed             359
Current Description    359
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = pref_cities_df.dropna()

clean_df.count()

Unnamed: 0             357
City                   357
Country                357
Lat                    357
Lng                    357
Max Temp               357
Humidity               357
Cloudiness             357
Wind Speed             357
Current Description    357
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Merauke,ID,80.85,light rain,-8.4667,140.3333,
3,Hilo,US,82.13,scattered clouds,19.7297,-155.0900,
4,Hajipur,IN,84.18,mist,25.6833,85.2167,
5,Atuona,PF,76.71,clear sky,-9.8000,-139.0333,
10,Rikitea,PF,68.50,moderate rain,-23.1203,-134.9692,
12,Puerto Ayora,EC,70.56,broken clouds,-0.7393,-90.3518,
16,Ponta Do Sol,PT,68.00,scattered clouds,32.6667,-17.1000,
17,Hidrolandia,BR,72.84,scattered clouds,-4.4081,-40.4378,
19,Sorong,ID,83.86,light rain,-0.8833,131.2500,
22,Maumere,ID,78.98,light rain,-8.6199,122.2111,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    

    # 6c. Get latitude and longitude from DataFrame
    
    
    lat = row['Lat']
    
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    

    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
   

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
        
    except (IndexError):
        
        print('Hotel not found...skipping')

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [26]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()

In [29]:
# 8a. Create the output File (CSV)

output_data_file = 'weather_py_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel<dt/><dd>{Hotel Name}<dd/>

<dt>City<dt/><dd>{City}<dd/>

<dt>Country<dt/><dd>{Country}<dd/>

<dt>Current Description<dt/><dd>{Current Description}<dd/>

<dt>Max Temp<dt/><dd>{Max Temp} °F<dd/>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 


fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)



fig.add_layer(marker_layer)


# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))