## Deliverable 3. Create a Travel Itinerary Map.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [36]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/weather_py_vacation.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Merauke,ID,80.85,light rain,-8.4667,140.3333,NaN
1,3,Hilo,US,82.13,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,4,Hajipur,IN,84.18,mist,25.6833,85.2167,Sunderwati Niketan
3,5,Atuona,PF,76.71,clear sky,-9.8000,-139.0333,Villa Enata
4,10,Rikitea,PF,68.50,moderate rain,-23.1203,-134.9692,People ThankYou

In [37]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dt>Hotel<dt/><dd>{Hotel Name}<dd/>

<dt>City<dt/><dd>{City}<dd/>

<dt>Country<dt/><dd>{Country}<dd/>

<dt>Description<dt/><dd>{Current Description}<dd/>

<dt>Max Temp<dt/><dd>{Max Temp} Â°F<dd/>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [38]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)



fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Katsuura')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'Katsuura')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Wakkanai')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Shimoda')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Susaki')] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
42,96,Katsuura,JP,83.41,clear sky,35.1333,140.3,Katsuura Hotel Mikazuki

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

start

(35.1333, 140.3)

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


#latitude and longitude pairs

fig = gmaps.figure()

japan = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

fig.add_layer(japan)

fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,96,Katsuura,JP,83.41,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
1,349,Wakkanai,JP,66.18,broken clouds,45.4094,141.6739,HyÅsetsu-sÅ
2,602,Shimoda,JP,84.56,clear sky,34.6667,138.9500,Shimoda Tokyu Hotel
3,571,Susaki,JP,84.27,clear sky,33.3667,133.2833,Awa
4,96,Katsuura,JP,83.41,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki

In [48]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dt>Hotel Name<dt/><dd>{Hotel Name}<dd/>

<dt>City<dt/><dd>{City},dd/>

<dt>Country<dt/><dd>{Country}<dd/>

<dt>Weather Description<dt/><dd>{Current Description}<dd/>

<dt>Max Temp.<dt/><dd>{Max Temp} Â°F<dd/>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))